.toolButtons {
  position: sticky;
  top: 20px;
  z-index: 1;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 5px;
  margin: 20px 0;
  min-height: 60px;

  box-shadow: 1px 2px 4px #ccc;

  cursor: pointer;
}

.itemText {
  width: 22%;
  min-width: 120px;
  text-align: left;
}

.selected {
  border: #1976d299 2px solid;
}

.sumText {
  font-weight: bold;
}