.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.textFieldRow {
  display: flex;
  align-items: flex-end;
}

.avatarRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
